  <meta name="description" content="Snch client and server" />
  <title>s2g-sync</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.js" ></script>
  <script src="main.js"></script>
<body ng-app="SyncApp">
<div ng-controller="SyncCtrl">    
 <br>
<table>
	<caption><b>sync clients with server</b> M=(C\(P\S))U(S\(P\C)) <br>
	<small>(B\A) = the set of elements in B, but not in A.</small></caption>
	<thead>
		<tr>
			<th width="15" valign="top">P <br>prior on client {{ftimest[1]}}</th>
			<th width="15" valign="top">C <br>current on client  {{ftimest[0]}}</th>
			<th width="15" valign="top">S <br>server updated by other clients  {{ftimest[2]}}</th>
			<th width="15" valign="top">(P\C) <br>relative complement (P-C) </th>
			<th width="15" valign="top">(P\S) <br>relative complement (P-S) </th>
			<th width="15" valign="top">(S\(P\C) <br>relative complement (S-(P-C)) </th>
			<th width="15" valign="top">(C\(P\S)) <br>relative complement (C-(P-S)</th>
			<th width="15" valign="top"> (C\(P\S)) U (S\(P\C))<br>union (S-(P-C) U (C-(P-S)</th>
			<th width="15" valign="top"> combined <br>union: done true and false</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><ul id="thePList">
			    <b><li ng-repeat="pi in p2">{{pi.product}} </li></b>
			</ul>
			<ul><li ng-repeat="pit in p2t">{{pit.product}} </li></ul>
			</td>			
			<td><ul id="theCList">
			    <b><li ng-repeat="ci in c2">{{ci.product}} </li></b>
			</ul>
			<ul><li ng-repeat="cit in c2t">{{cit.product}} </li></ul>
			</td>			
			<td><ul id="theSList">
			    <b><li ng-repeat="si in s2">{{si.product}} </li></b>
			</ul>
			<ul><li ng-repeat="sit in s2t">{{sit.product}} </li></ul>
			</td>			
			<td><ul id="thePCList">
			    <li ng-repeat="pci in pc">{{pci.product}} </li>
			</ul></td>			
			<td><ul id="thePSList">
			    <li ng-repeat="psi in ps">{{psi.product}} </li>
			</ul></td>			
			<td><ul id="theSPCList">
			    <li ng-repeat="spci in spc">{{spci.product}} </li>
			</ul></td>			
			<td><ul id="theCPSList">
			    <li ng-repeat="cpsi in cps">{{cpsi.product}} </li>
			</ul></td>					
			<td><ul id="theMO2List">
			    <li ng-repeat="mo2i in mo2">{{mo2i.product}} </li>
			</ul></td>
			<td><ul id="theCombinedList">
				<b><li ng-repeat="comfi in comf">{{comfi.product}} </li></b>
			</ul><ul>	
			    <li ng-repeat="comti in comt">{{comti.product}}  </li>
			</ul><ul>	
<!-- 			    <li ng-repeat="sortComi in sortCom">{{sortComi.product}} {{sortComi.done}}  </li>
			</ul></td> -->
		</tr>
	</tbody>
</table>
<pre>
{{jmo2}}  	
</pre>


<h4>refs</h4>
<a href="http://www.cs.umd.edu/class/fall2005/cmsc250/exam/ex1/node5.html">http://www.cs.umd.edu/class/fall2005/cmsc250/exam/ex1/node5.html</a><br>
<a href="http://en.wikipedia.org/wiki/Complement_(set_theory)#Relative_complement">http://en.wikipedia.org/wiki/Complement_(set_theory)#Relative_complement</a><br>
<a href="http://stackoverflow.com/questions/18383636/compare-2-arrays-of-objects-with-underscore-to-find-the-differnce">http://stackoverflow.com/questions/18383636/compare-2-arrays-of-objects-with-underscore-to-find-the-differnce by Jonathan Naguin</a><br>
<a href="http://stackoverflow.com/questions/7146217/merge-2-arrays-of-objects">http://stackoverflow.com/questions/7146217/merge-2-arrays-of-objects by Guya</a>
<h4>mongo queries</h4>
db.lists.find({lid:'Jutebi'},{items:1}).pretty()
</div>
</body>