/* Styles go here */

div {
  margin:40px;
  padding:16px;
  color:blue;
}

@media all and (min-width: 42em){
  .col1 { float: left; width:50%; }
}
@media all and (min-width: 70em){
  .col1 { float: left; width:34%; }
}