<!doctype html>
<head>
  <meta name="description" content="share between controllers" />
  <title>ng-share</title>  
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0 ">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css"> 
  <link rel="stylesheet" href="style.css"> 
  <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.14/angular.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.11.0/ui-bootstrap-tpls.min.js"></script>
  <script src="script.js"></script>
</head>
<body ng-app="App">
  <sb-zero-drctv></sb-zero-drctv>
  <sb-user-list-lid></sb-user-list-lid>
  <sb-first-drctv></sb-first-drctv>  


  <div ng-controller="SecondCtrl" class="col1"> 
    <p>2nd controller - change active user</p>
  {{users.al.activeUser}},  {{lists.lal[lists.lal.activeList].shops}}: {{lists.lal.activeList}}<br>
      <div class="btn-group btn-group-xs" dropdown is-open="status.isopen">
        <button type="button" class="btn btn-primary dropdown-toggle" ng-disabled="disabled">
          Lists <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li ng-repeat="list in users.al[users.al.activeUser].lists  track by $index" ng-click="makeDefListInfo(list)"><a href="#">{{list.shops}}</a></li>
        </ul>
        <span>
          <select ng-model="active" ng-options="name as name for name in users.al.userList" ng-click="makeActive(active)"></select></span>
         </span>
      </div>
    <ul class="list-group">
      <li class="list-group-item" ng-repeat="list in users.al[users.al.activeUser].lists  track by $index" ng-click="makeDefListInfo(list)">{{list.shops}}</li>
   </ul>
  <form name='regForm' ng-show="online">
    <div class='form-group'>
      <label><input type="text" name="newList" placeholder="add-list/join-repo" ng-model="listsInput"></label>
      <a  ng-click="add()">Add</a>
      <a  ng-click="join()">Join</a>
    </div>
  </form>          
  </div>

  <div ng-controller="ThirdCtrl" class="col1">
  <p>3rd controller - trying to det default to change automatically</p>
  {{users.al.activeUser}},  {{lists.lal[lists.lal.activeList].shops}}: {{lists.lal.activeList}}<br>
    <button ng-click=reset()>reset local storage</button> <br>
    <button ng-click="">blank</button> <br>
      <span>
        <select ng-model="defListInfo"  ng-options="shop.shops for shop in users.al[users.al.activeUser].lists" ng-click="makeDefListInfo(defListInfo)"></select></span>
       <span>  
    <ul class="list-group">
      <li class="list-group-item" ng-repeat="list in users.al[users.al.activeUser].lists  track by $index" ng-click="makeDefListInfo(list)">{{list.shops}}</li>
   </ul>   
    <ul class="list-group">
      <li class="list-group-item" ng-repeat="item in lists.lal[lists.lal.activeList].items  track by $index" ng-click="">{{item.product}}</li>
   </ul>        
  </div>
</body>