  <div class="col1"> 
    <p>1st drctv - List shops and users</p>
  {{users.al.activeUser}},  {{lists.lal[lists.lal.activeList].shops}}: {{lists.lal.activeList}}<br>
    <!-- Single button -->
    <div class="btn-group btn-group-xs" dropdown is-open="status.isopen">
      <button type="button" class="btn btn-primary dropdown-toggle" ng-disabled="disabled">
        Lists <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li ng-repeat="list in users.al[users.al.activeUser].lists  track by $index" ng-click="makeDefListInfo(list)"><a href="#">{{list.shops}}</a></li>
      </ul>
    </div>  
    <ul class="list-group">
      <li class="list-group-item" ng-repeat="list in users.al[users.al.activeUser].lists  track by $index" ng-click="makeDefListInfo(list)">{{list.shops}}</li>
   </ul>   
    <ul class="list-group">
      <li class="list-group-item" ng-repeat="name in users.al.userList  track by $index" ng-click="makeActive(name)">{{name}}</li>
   </ul>
    <ul class="list-group">
      <li class="list-group-item" ng-repeat="item in lists.lal[lists.lal.activeList].items  track by $index" ng-click="">{{item.product}}</li>
   </ul>     
   <pre><code>{{users.al}}</code></pre>  
   <pre><code>{{lists.lal}}</code></pre>  
  </div>  