/* Styles go here */
body {
	background-color: #B0E0E6;
}

div {
  margin:40px;
  padding:16px;
  color:blue;
  background-color: #B0E0E6;
}
pre {
	background-color: #B0C4DE;
	border: 1px solid #DDD;
	font-size: 13px;
	line-height: 19px;
	overflow: auto;
	padding: 6px 10px;
	border-radius: 3px
}
code {
    color:#000;
}
li {
    list-style-type: disc;
    list-style-position: inside;
    padding: 0 12px;
}

.md {
	color:green;
	margin:30px;
	padding:16px;
	background-color: yellow;
}